doctype html
html
	head
		title #{title}
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8;initial-scale=1.0;width=device-width")
		link(type="text/css",rel="stylesheet",href="dist/vendor/antd.chunk.css")
		link(type="text/css",rel="stylesheet",href="dist/apps/app.css")
	body
		
		#root

		script(type='text/javascript', src='/dist/vendor/react.chunk.js')
		script(type='text/javascript', src='/dist/vendor/antd.chunk.js')
		script(type='text/javascript', src='/dist/apps/app.js')